{% extends 'base.html' %}
{% load static %}
{% load customTags %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'assets/css/widgets/chat.css' %}"> -->

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Boarding Kelas</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">BoardingKelas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="media d-flex align-items-center">
                            <div class="name flex-grow-1">
                                <h6 class="mb-0">BOARDING KELAS</h6>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="card-body">
                                <div class="chat-content" id="chatbox" style="overflow: auto; height: 300px;">
                                    <div class="chat">
                                        {% for chat_message in messages reversed %}
                                        <div class="chat-body">
                                            <div class="chat-message mt-4">
                                                <div class="d-flex align-items-start {% if chat_message.pengirim.username == request.user.username %}justify-content-end{% else %}justify-content-start{% endif %}">
                                                    {% if chat_message.pengirim.username == request.user.username %}
                                                    <div class="d-flex flex-row-reverse" style="margin-top: -2px;">
                                                        <div>
                                                            <p class="mb-1" style="font-size: 14px;text-align: right;">
                                                                <span style="font-size: 10px; margin-right: 5px;">
                                                                    {{ chat_message.created_at|filter_waktu }}
                                                                </span>
                                                                <b data-tippy-content="{{chat_message.pengirim.nama_lengkap}} ({{chat_message.pengirim.role|capfirst}})"
                                                                style="color: darkcyan;"
                                                                >{{ chat_message.pengirim.nama_lengkap|split:" "|first }}</b>
                                                            </p>
                                                            <small style="font-size: 14px;">{{ chat_message.pesan }}</small>
                                                        </div>
                                                    </div>
                                                    <div class="avatar avatar-md ms-3 me-4">
                                                        <img src="{{ chat_message.pengirim.profile_pic }}" alt="avatar">
                                                    </div>
                                                    {% else %}
                                                    <div class="avatar avatar-md me-3">
                                                        <img src="{{ chat_message.pengirim.profile_pic }}" alt="avatar">
                                                    </div>
                                                    <div class="d-flex flex-row" style="margin-top: -3px;">
                                                        <div>
                                                            <p class="mb-1" style="font-size: 14px;">
                                                                <b data-tippy-content="{{chat_message.pengirim.nama_lengkap}} ({{chat_message.pengirim.role|capfirst}})" style="color: darkcyan;">{{ chat_message.pengirim.nama_lengkap|split:" "|first }}</b>
                                                                <span style="font-size: 10px; margin-left: 5px;">
                                                                    {{ chat_message.created_at|filter_waktu }}
                                                                </span>
                                                            </p>
                                                            <small style="font-size: 14px;">{{ chat_message.pesan }}</small>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                        <div class="card-footer">
                            <div class="message-form d-flex flex-direction-column align-items-center">
                                <div class="d-flex flex-grow-1 me-2">
                                    <textarea class="form-control" rows="2" id="my_input"
                                        placeholder="Type your message.."></textarea>
                                </div>
                                <div id="submit_button" style="cursor: pointer;"><i data-feather="send"></i></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{{slug|json_script:"room_slug"}}
{{request.user.nama_lengkap|json_script:"nama_lengkap"}}
{{request.user.id_user|json_script:"token"}}
<style>
    .tippy-box[data-theme="darkth"] {
  background-color: black;
  color: white;
}
</style>
{{request.user.profile_pic|json_script:"fotoProfile"}}
<script src="{% static 'assets/js/pages/boarding.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() {
    var limit = 50;
    var loading = false;
    var offset = 50;
    var containerHeight = $('.chat-content').outerHeight();
    var contentHeight = $('.chat-content')[0].scrollHeight;

    $('.chat-content').scrollTop(contentHeight); // Mengatur scroll ke posisi paling bawah saat membuka halaman

    $('.chat-content').scroll(function() {
        var scrollPosition = $(this).scrollTop();

        if (scrollPosition === 0 && !loading) {
            loading = true;
            $.ajax({
                url: '/load-boarding/',
                type: 'GET',
                data: {
                    offset: offset,
                    limit: limit
                },
                success: function(response) {
                    var chatContainer = $('.chat');
                    var scrollOffset = chatContainer[0].scrollHeight - chatContainer.scrollTop();
                    chatContainer.prepend(response);

                    setTimeout(function() {
                        chatContainer.scrollTop(chatContainer[0].scrollHeight - scrollOffset);
                        offset += limit;
                        loading = false;
                    }, 100);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    loading = false;
                }
            });
        }
    });
});



</script>
<script src="https://unpkg.com/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6.3.1/dist/tippy-bundle.umd.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      tippy('[data-tippy-content]', {
        allowHTML: true,
        placement: 'top',
        theme:'darkth',
        trigger: 'click mouseenter', // Menampilkan tooltip saat diklik
        interactive: true,
        hideOnClick:true,
      });
    });
  </script>
{% endblock %}