{% extends 'base.html' %}
{%load static%}
{% block content %}

<div class="pahe-heading">
  <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Jadwal Piket {{request.user.id_kelas.nama_kelas|capfirst}}</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/dashboard-siswa/">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Jadwal Piket
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>


<div class="page-content">
    <section class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                              {% for hari in hari_list %}
                              <div class="col-md-2 col-6.5">
                                <h4 class="text-center">{{ hari|title }}</h4>
                                <hr class="mt-0">
                                <div class="mb-3 text-align">
                                    {% for user_list in data %}
                                    {% if hari in user_list.hari %}
                                    <a href="/profile/{{user_list.id_user.username}}" style="text-decoration: none;  color: inherit;">
                                      <div class="d-flex align-items-center mb-2"> <!-- Menambahkan mb-2 untuk memberikan jarak antara foto -->
                                        <div class="avatar">
                                          <img src="{{ user_list.id_user.profile_pic }}">
                                        </div>
                                        <p class="font-bold ms-3 mb-0">{{ user_list.id_user.nama_lengkap}}</p>
                                      </div>
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                  </div>
                                <hr class="mt-0">
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock content %}