{% for chat_message in isi reversed %}
                                <div class="chat-body">
                                    <div class="chat-message mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar avatar-md me-3">
                                                <img src="{{ chat_message.pengirim.profile_pic }}" alt="avatar">
                                            </div>
                                            <div class="d-flex w-100" style="margin-top: -5px;">
                                                <div>
                                                    <p class="mb-1" style="font-size: 14px;">
                                                        <b>{{ chat_message.pengirim.nama_lengkap }}</b>
                                                    </p>
                                                    <small style="font-size: 14px;">{{ chat_message.pesan }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}