{% extends 'base.html' %}
{%load static%}
{% block content %}

<div class="pahe-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Notifikasi Kelas</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboard-siswa/">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Notifikasi
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-start">
                            <div class="avatar avatar-lg me-3">
                                <img src="https://i.ibb.co/5B98Jdw/idc2-frame-b451fb0b-a82c-45c5-9dab-26ac81568362.jpg"
                                    alt="avatar">
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <p class="mb-1" style="font-size: 14px;"><b>{{data.nama_lengkap}}</b> reacted to your post</p>
                                    <!-- <h6 class="mb-1" style="font-size: 14px;">Almi baru saja membayar uang kas</h6> -->
                                    <small style="font-size: 12px;">3 days ago</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </section>
</div>




{% endblock content %}