{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for data in data %}
<title>{{data.username}}</title>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Profile {{data.nama_lengkap|split:" "|first}}</h3>
               
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboard-siswa/">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Profile
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{{data.profile_pic}}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{data.nama_lengkap|capfirst}}</h5>
                    <p class="text-muted mb-1">{{data.id_kelas.nama_kelas|capfirst}}</p>
                    <p class="text-muted mb-4">{{data.id_kelas.jurusan}}</p>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nama Lengkap</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.nama_lengkap|capfirst}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.username}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">No Hp</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.no_hp}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nama Wali Kelas</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.id_kelas.id_user.nama_lengkap|capfirst}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</div>
{%endfor%}
<script src="{% static 'assets/extensions/jquery/jquery.min.js' %}"></script>
{% endblock content %}