{% extends 'layouts/error.html' %}
{% load static %}
{% block content %}

<div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
        <div class="text-center">
            <img class="img-error" src="{% static 'assets/images/samples/error-500.svg' %}" alt="Not Found">
            <h1 class="error-title">SYSTEM EROR</h1>
            <p class='fs-5 text-gray-600'>Situs web saat ini tidak tersedia. Coba lagi nanti atau hubungi developer.</p>
            <button class="btn btn-lg btn-outline-primary mt-3" onclick="goBack()">Kembali</button>
        </div>
    </div>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>


{% endblock %}